.page__body {
    --block-height: 16px;

    padding-top: var(--block-height);
    margin: 0;

    font-family: 'Inter';
    font-size: 16px;
    line-height: 1.6;

    background-color: rgba(42, 44, 47, 1);
    color: #ffffff;
}

.container {
    max-width: 1214px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}