/**
 * hero title
 */

.title {
    --space-y: 0;
    --text-size: 40px;

    margin-top: var(--space-y);
    margin-bottom: var(--space-y);

    font-size: var(--text-size);
    font-weight: 900;
    line-height: 1.1;
    word-wrap: break-word;
}

@media (min-width: 768px) {
    .title {
        --text-size: 96px;
    }
}

/**
 * intro title
 */

.title_size_small {
    --text-size: 32px;
}

@media (min-width: 768px) {
    .title_size_small {
        --text-size: 54px;
    }
}

/**
 * places title
 */

.title_size_normal {
    --text-size: 32px;
}

@media (min-width: 768px) {
    .title_size_normal {
        --text-size: 42px;
    }
}

@media (min-width: 1024px) {
    .title_size_normal {
        --text-size: 72px;
    }
}

/**
 * cover title
 */

.title_size_large {
    --text-size: 32px;
}

@media (min-width: 768px) {
    .title_size_large {
        --text-size: 72px;
    }
}
