.hero {
    margin-bottom: 64px;
}
@media (min-width: 768px) {
    .hero {
        margin-bottom: 88px;
    }
}

@media (min-width: 1024px) {
    .hero {
       max-width: 928px;
        margin: 0 auto 92px auto;
    }
}

@media (min-width: 1280px) {
    .hero {
        max-width: 984px;
    }
}


.hero__title {
    margin-bottom: 16px;
    text-align: center;
}
@media (min-width: 768px) {
    .hero__title {
        margin-bottom: 32px;
    }
}

.hero__subtitle {
    margin-bottom: 40px;
    text-align: center;
}

@media (min-width: 768px) {
    .hero__subtitle {
        max-width: 630px;
        margin-bottom: 56px;
    }
}

.hero__img {
    margin-bottom: 8px;
}