.intro {
    margin-bottom: 64px;
}

@media (min-width: 768px) {
    .intro {
        margin-bottom: 88px;
    }
}

@media (min-width: 1024px) {
    .intro {
        max-width: 928px;
        padding: 0;
        margin: 0 auto 92px auto;
    }
}

@media (min-width: 1280px) {
    .intro {
        max-width: 984px;
    }
}



.intro__title {
    max-width: 248px;
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    .intro__title {
        max-width: 100%;
    }
}

.intro__text {
    line-height: 1.6;
    margin-bottom: 34px;
}

@media (min-width: 1024px) {
    .intro__text {
        max-width: 690px;
    }
}

.intro__item {
    line-height: 1.5;
    font-weight: 700;
}

.intro__span {
    font-weight: 400;
}