.places {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 66px;
}

@media (min-width: 768px) {
    .places {
        gap: 73px
    }
}

@media (min-width: 1024px) {
    .places {
        max-width: 928px;
        margin: 0 auto 92px auto;
    }
}

@media (min-width: 1280px) {
    .places {
        max-width: 984px;
    }
}

